@model UserRegisterViewModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Header"];
}

<div class="row justify-content-center align-items-center">
    <div class="col col-sm-12 col-md-8 col-lg-5 col-xl-5">
        <div class="text-left">
            <h2>@ViewData["Title"]</h2>
        </div>
        <hr />
        <form method="post" asp-controller="Auth" asp-action="Register" class="was-validated">
            <div class="form-group">
                <label asp-for="Name">@Localizer["Name"]</label><br />
                <input class="form-control" placeholder=@Localizer["Name"] asp-for="Name" pattern="^[A-Za-zА-яёЁ]+$" minlength="3" required />
                <div class="invalid-feedback">@Localizer["Please"]</div>
                <span class="badge badge-pill badge-danger" asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname">@Localizer["Surname"]</label><br />
                <input class="form-control" placeholder=@Localizer["Surname"] asp-for="Surname" pattern="^[A-Za-zА-яёЁ]+$" minlength="3" required />
                <div class="invalid-feedback">@Localizer["Please"]</div>
                <span class="badge badge-pill badge-danger" asp-validation-for="Surname"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label><br />
                <input class="form-control" placeholder=@Localizer["Email"] asp-for="Email" required minlength="3" />
                <div class="invalid-feedback">@Localizer["Please"]</div>
                <span class="badge badge-pill badge-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName">@Localizer["Username"]</label><br />
                <input class="form-control" placeholder=@Localizer["Username"] asp-for="UserName" pattern="^[A-Za-zА-яёЁ]\w+$" minlength="3" required />
                <div class="invalid-feedback">@Localizer["Please"]</div>
                <span class="badge badge-pill badge-danger" asp-validation-for="UserName"></span>
            </div>
            <div class="alert alert-danger form-element mt-2" asp-validation-summary="ModelOnly"></div>
            <div class="form-group">
                <label asp-for="Password">@Localizer["Password"]</label><br />
                <input class="form-control" placeholder=@Localizer["Password"] asp-for="Password" minlength="6" required maxlength="50" />
                <div class="invalid-feedback">@Localizer["Please"]</div>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    @Localizer["PasswordMessage"]
                </small>
                <span class="badge badge-pill badge-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword">@Localizer["Confirm"]</label><br />
                <input class="form-control" placeholder=@Localizer["Confirm"] asp-for="ConfirmPassword" minlength="6" required maxlength="30" />
                <div class="invalid-feedback">@Localizer["Please"]</div>
                <span class="badge badge-pill badge-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="pt-2 text-left d-flex flex-row bd-highlight">
                <input class="btn btn-primary mb-3" type="submit" value="@ViewData["Title"]" />
            </div>
            <hr />
            <div>
                <p class="text-black-50">
                    @Localizer["Already"]
                    <a class="text-mute" asp-controller="Auth" asp-action="Login">
                        <u>@Localizer["Signin"]</u>
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>

