@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["Header"];
}

<h3>@Localizer["Header"]</h3>
<table class="table w-75 mt-3 pt-3">
    <caption>@Localizer["ListRoles"]</caption>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form class="text-right" asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        @Localizer["Delete"]
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a class="btn btn-success" asp-action="Create">@Localizer["Add"]</a>
<a class="btn btn-info" asp-action="UserList">@Localizer["List"]</a>
